//Included packages with Skeletor
@import "bourbon";
@import "susy";
@import "breakpoint";

//Settings from base skeletor project

// Breakpoints
// ------------------------------------------------------------------------------

$breakpoints: (
	small:  320px,  /* Smartphones --------------- */
	medium: 768px,  /* Tablets Portrait ---------- */
	large:  1224px, /* Desktops and laptops ------ */
	xlarge: 1824px  /* Large screens ------------- */
);

$min-medium: map-get($breakpoints, medium);
$min-large: map-get($breakpoints, large);
$min-xlarge: map-get($breakpoints, xlarge);

$max-small: map-get($breakpoints, medium)  - 1px;
$max-medium: map-get($breakpoints, large)  - 1px;
$max-large: map-get($breakpoints, xlarge)  - 1px;


$small: map-get($breakpoints, small);
$medium: $min-medium,'no-query' true;
$large:  $min-large,'no-query' true;
$xlarge:  $min-xlarge,'no-query' true;

//Some Skeletor framework dependencies
@import "../Skeletor.sass.utilities/skeletor.sass.utilities";
@import "../Skeletor.sass.helpers/skeletor.sass.helpers";

//Plugin core styles
@import "grid/grid";

//Demo specific styles

.grid {
	background: #0A0A0A;

	&__col {
		background: red;
		outline: 1px solid #333333;
	}
}